
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root{
position: relative;
min-height: 100vh;
padding-bottom: 100px;
}

body{
    background: rgb(142,21,25);
background: radial-gradient(circle, rgba(142,21,25,1) 23%, rgba(80,73,73,1) 78%);
}